/* Write your CSS here */

button {
  border-bottom: 3px solid #dfe2e5;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  color: #7b8794;
  font-family: Bree Serif;
  font-size: 12px;
  padding: 5px 20px;
  cursor: pointer;
  outline: none;
}
@media (min-width: 576px) {
  button {
    font-size: 14px;
  }
}
