/* Write your CSS here */
.item-container {
  background-color: #ffffff;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 10px;
}
.img-container {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-img {
  width: 75px;
  height: 90%;
}
.app-name {
  color: #1e293b;
  font-family: Bree Serif;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}
@media (min-width: 576px) {
  .app-name {
    font-size: 14px;
  }
}
